body {
    background:#f9f9f9;
    font-size: 13px;
    line-height: 21px;
    font-family: 'Open Sans', "Times New Roman", sans-serif;
}
.logo{
    margin-bottom: 40px;
}

.container{
    background:#fff;
    width: 1060px;
    margin: 0 auto;
    padding: 51px 47px 60px 47px;
    box-shadow: 0 -5px 5px rgba(0,0,0,0.3) ;
}
.list_item{
    float: left;

}
.list_link{
    display: block;
    padding: 10px 24px 10px;
    text-decoration: none;
    color: #ffffff;

}
.nav_menu{
    background: #535252;
}

.list_link:hover{
    background: #464646;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-size: 13px;


}
.content_menu{
    float: left;
    margin: 40px 50px 0 0 ;
    width: 240px;
    border: 1px solid #dbdbdb;
}

.aside-lists a{
    border-bottom:1px solid #dbdbdb; ;
    display: block;
    padding: 10px  0 10px 20px;
    color: #7a7878;
    text-decoration: none;


}
.aside-lists a:hover{
     background: #f9f9f9;
     padding-left: 30px;

}